@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@font-face {
  font-family: 'Upright';
  src: url('/fonts/Upright.otf') format('opentype');
  font-display: swap;
}

html {
  font-family: 'Upright', sans-serif;
}

body {
  font-family: 'Upright', sans-serif;
}

.header-text {
    -webkit-text-stroke: 1.5px black;
    -ms-text-stroke: 1.5px black;
    text-stroke: 1.5px black;
}

.footer-text {
    -webkit-text-stroke: 0.8px black;
    -ms-text-stroke: 0.8px black;
    text-stroke: 0.8px black;
}